@import "tailwindcss";

@font-face {
  font-family: 'Frontage';
  src: url('/FrontageCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Frontage';
  src: url('/FrontageCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  @apply bg-black text-white;
  font-family: 'Frontage', sans-serif;
}

input, textarea, select {
  font-family: 'Frontage', sans-serif;
}

::placeholder {
  font-family: 'Frontage', sans-serif;
  font-weight: normal;
  color: #aaa;
}
